
/*@group general styles 一般性样式 
---------------------------------------------------------------------------------------*/
主体样式
body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
reset样式
链接
标题
其他元素

/*@group helper styles 辅助样式
--------------------------------------------------------------------------------------*/
表单
通知和错误
一致的条目

/*@group page struct 页面结构
-------------------------------------------------------------------------------------*/
标题、页脚、导航
布局
其他结构元素



/*@group page components 页面组件
------------------------------------------------------------------------------------*/
各个页面



/*@group overrides 覆盖
-----------------------------------------------------------------------------------*/